name: Test

on:
  push:
    branches:
      - "main"
      - "master"
      - "dev"
      - "develop"
  pull_request:
    branches:
      - "main"
      - "master"

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: "actions/checkout@v4"
      - uses: "actions/setup-python@v5"
        with:
          python-version: "${{ matrix.python-version }}"
          allow-prereleases: true
      - name: "Install dependencies"
        run: | 
          python -m pip install -e .[dev]
          python -m pip install -e .[linter]
      - name: "Run linting checks"
        run: "python -m mypy ./src"
      - name: "Run tests"
        run: "python -m pytest"
